@media screen and (max-width: 510px) {
    #formulario-tarefas input {
        width: 60%;
    }

    #lista li {
        width: 65%;
    }
}

@media screen and (max-width: 370px) {
    #formulario-tarefas input {
        width: 45%;
    }

    #lista li {
        width: 50%;
    }
}